<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<div id="app">
		<div class="row justify-content-start container" class="singIn">
			<a href="" class="singInA">SIGN IN</a>
			<a href="" class="singInB">SIGN UP</a>
		</div>
		<div class="row justify-content-center container" class="form">
			<form action="" id="form" @submit="formValidation">
				<div class="form-group">
					<label for="username">EMAIL</label>
					<input type="text" class="form-control" id="username" placeholder="username/email" v-model="email">
					<p class="errors">{{emailError}}</p>
				  </div>
				  <div class="form-group">
					<label for="password">
						PASSWORD
						<a href="#" @click="showHidePassword" id="eye"> <img src="img/eye.png" alt=""></a>
					</label>
					<input :type="passwordtype" class="form-control" id="password" placeholder="Password" v-model="password">
					<p class="errors">{{passwordError}}</p>
				  </div>
				  <button type="submit" class="btn btn-default">SIGN IN</button>
			</form>
		</div>
	</div>
</div>













<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="scripts/vendor.js"></script>
<script type="text/javascript" src="scripts/scripts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>